html {  
  background-image: url(fondo.jpg);
  font-family: 'PT Serif', sans-serif;
}

body {
  margin: 0 auto;
}

/* CSS Menu */

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(105, 247, 176, 0.548);
  padding-right: 30px;
  padding-left: 30px;
  /*border: solid 10px rgb(197, 197, 197);*/
  
}

h1, h2, h3, nav ul {
  font-family: 'Be Vietnam Pro', cursive;
  color: #2a2a2a;
}

h1 {
  flex: 1;
}

h2 {
  text-align: center;
}

h3 {
  margin-left: 40px;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 30px;
}

/* CSS main */

main {
  background-color: rgb(204, 204, 204);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 1000px;
  margin: 0 auto;
}

/* CSS index.html*/

blockquote, blockquote ul {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

div.video {
  text-align: center;
}

div.video iframe {
  border: solid 10px rgba(105, 247, 176, 0.548);
  outline: solid 5px rgb(197, 197, 197);
}

p {
  margin: 20px;
  text-align: justify;
}

div.parrafo p {
  margin: 40px;
}

ul li {
  list-style-type: none;
}

/* Biography */

div.bio_photos {
  display: flex;
}

div.bio_photos img {
  max-width: 430px;
  margin: 25px;
  border: solid 10px rgba(105, 247, 176, 0.548);
  outline: solid 5px rgb(197, 197, 197);
}

h3.who {
  margin-top: 35px;
}

/* CSS discography */

figure.album {
  float: left;
  margin-top: 0px;
}

figure.album img {
  width: 190px;
}

table {
  margin: 20px;
  border: #c2c2c2;
  

}

td, th{
  outline: solid 0 grey;
  padding: 15px;
  text-align: center;
  vertical-align: center;
}

th {
  background-color: rgba(105, 247, 176, 0.548);
  color: black;
}

th.namesong {
  width: 20%;
}

th.link {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #c2c2c2;
}


section.albumlink {
  display: flex;
  justify-content: center;
}

section.albumlink a {
  margin: 30px;
}

/* Gallery */

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.gallery img, div.gallery iframe {
  max-width: 400px;
  margin: 40px;
  max-height: 300px;
  border: solid 10px rgba(105, 247, 176, 0.548);
  outline: solid 5px rgb(197, 197, 197);
}

/* CSS footer */

footer {
  background-color: rgba(105, 247, 176, 0.548);
  border: solid 10px rgba(105, 247, 176, 0.548);
  border-style: solid none solid none;
  
}

footer div {
  text-align: center;
}

footer div.red_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

figure.social_sites {
  float: right;
  margin: 10px;
}

figure.social_sites img{
  width: 40px;
  height: 40px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}