html {  
  background-image: url(fondo.jpg);
  font-family: 'PT Serif', sans-serif;
}

body {
  width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(105, 247, 176, 0.548);
  padding-right: 30px;
  padding-left: 30px;
  /*border: solid 10px rgb(197, 197, 197);*/
  
}

h1, h2, h3, nav ul {
  font-family: 'Be Vietnam Pro', cursive;
  color: #2a2a2a;
}

h1 {
  flex: 1;
}
h3 {
  margin-left: 20px;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 30px;
}

main {
  background-color: rgb(204, 204, 204);
  padding-top: 20px;
}

blockquote, blockquote ul {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

div.video {
  text-align: center;
}

div.video iframe {
  border: solid 10px rgba(105, 247, 176, 0.548);
  outline: solid 5px rgb(197, 197, 197);
}

p {
  margin: 20px;
  text-align: justify;
  
}

footer {
  background-color: rgba(105, 247, 176, 0.548);
  border: solid 10px rgba(105, 247, 176, 0.548);
  border-style: solid none solid none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}